asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
cloudinary==1.45.0
dj-database-url==3.1.2
Django==6.0.6
django-cloudinary-storage==0.3.0
gunicorn==26.0.0
idna==3.18
packaging==26.2
pillow==11.0.0
psycopg2-binary==2.9.12
python-decouple==3.8
qrcode==8.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
